
/* base */

body {
  font-family: Roboto, sans-serif;
  background-image: url('https://content.codecademy.com/courses/learn-css-selectors-visual-rules/hypnotize_bg.png');
}

nav {
  display: flex;
  justify-content: flex-end;
}


/* links */

a {
  padding: 0 20px;
  margin: 0;
  color: #6d6262;
  text-decoration: none;
}

a:hover {
  color: #474141;
}

.nav a:hover {
  color: #474141;
  text-decoration: underline;
}

a.active {
  color: #474141;
  text-decoration: underline;
}


/* header/footer */

header {
  padding: 20px 0;
}

header .row,
footer .row {
  display: flex;
  align-items: center;
}

footer {
  font-size: 12px;
  padding: 20px 0;
}

footer .col-sm-8 {
  display: flex;
  justify-content: flex-end;
}

footer ul {
  list-style: none;
}


/* jumbotron */

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('images/vincent-ledvina-4MWxHmKGavs-unsplash.jpg');
  background-size: cover;
  color: #ffffff;
  height: 400px;
}


/* buttons */

.btn.btn-primary {
  border-radius: 2px;
  border: 0px;
  color: #fbd1d5;
  background-color: #ffffff;
}

.btn.btn-primary:hover {
  color: #ffffff;
  background-color: #fbd1d5;
}

.btn-secondary {
  background-color: #2a70e0;
  color: #ffffff;
  margin: 0 0 30px;
}

